.DS_Store
__pycache__/
quick_test.ipynb
models/
logs/run_training/
legacy_code_generator/__pycache__/
legacy_code_generator/data/
holognn/
milp-evolve-multi_class_learning/
logs/
joboutputs/
*.pth
disjunctive_dual/speed_and_memory_test.py
joboutput/